:root {
  --ff-main: "Red Hat Display", sans-serif;
  --fw-medium: 500;
  --fw-black: 900;
  --fs-400: 1rem;
  --fs-500: 1.125rem;
  --fs-600: 2rem;
  --fs-700: 2.5rem;
  --fs-800: 3em;
  --fs-900: 4em;
  --lh-100: 1;
  --lh-300: 1.1;
  --lh-400: 1.125;
  --lh-700: 1.444;
  --lh-800: 1.625;
  --le-700: 0.25em;
  --ty-heading-primary: var(--fw-black) var(--fs-700)/var(--lh-300) var(--ff-main);
  --ty-heading-secondary: var(--fw-black) var(--fs-600)/var(--lh-400) var(--ff-main);
  --ty-highlight: var(--fw-black) var(--fs-400)/var(--lh-800) var(--ff-main);
  --ty-copy-primary: var(--fw-medium) var(--fs-400)/var(--lh-800) var(--ff-main);
  --ty-copy-secondary: var(--fw-medium) var(--fs-500)/var(--lh-700) var(--ff-main);
  --ty-button: var(--fw-black) var(--fs-400)/var(--lh-800) var(--ff-main);
  --cl-main-200: hsl(192, 92%, 77%);
  --cl-main-300: hsl(192, 54%, 64%);
  --cl-main-400: hsl(192, 37%, 48%);
  --cl-accent-200: hsl(268, 100%, 86%);
  --cl-accent-300: hsl(267, 54%, 71%);
  --cl-accent-400: hsl(268, 34%, 53%);
  --cl-neutral-100: hsl(0, 0%, 100%);
  --cl-neutral-200: hsl(0, 0%, 98%);
  --cl-neutral-400: hsl(240, 10%, 57%);
  --cl-neutral-400-trans-25: hsla(240 10% 57% / 0.25);
  --cl-neutral-800: hsl(240, 21%, 20%);
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
}
.top-wrapper {
  font-family: var(--ff-main);
  font-size: var(--fs-400);
  color: var(--cl-neutral-400);
  background: var(--cl-neutral-200);
  text-align: center;
  display: grid;
  align-content: center;
  margin: 0;
  min-height: 100svh;
  scrollbar-gutter: stable;
}
.logo {
  margin-block: 3rem 0;
}
.top-section {
  display: grid;
  margin-block: 3.375rem;
}
.top-section::before {
  content: "";
  display: block;
  height: 9.563rem;
  background-image: url('../images/image-hero.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 48rem) {
  .top-section::before {
    height: 18.938rem;
  }
}
.top-section__title {
  font: var(--ty-heading-primary);
  color: var(--cl-neutral-800);
  text-wrap: balance;
  margin-block: 3rem 0;
  padding-inline: 1.5rem;
}
@media (min-width: 48rem) {
  .top-section__title {
    --ty-heading-primary: var(--fw-black) var(--fs-800)/var(--lh-100) var(--ff-main);
    margin-inline: 20%;
  }
}
.top-section__copy {
  font: var(--ty-copy-primary);
  text-wrap: pretty;
  margin-block: 1.5rem 2rem;
  padding-inline: 1.5rem;
}
.top-section__button {
  font: var(--ty-button);
  color: var(--cl-neutral-100);
  background: var(--cl-main-400);
  width: fit-content;
  margin: 0 auto 1rem;
  padding: 1rem 2.5rem;
  border-radius: 1.813rem;
  text-decoration: none;
  border: 0;
  transition: background 0.3s;
}
.top-section__button:hover {
  background: var(--cl-main-300);
}
.top-section__button--accent-color {
  background: var(--cl-accent-400);
  margin-bottom: 0;
  transition: background 0.3s;
}
.top-section__button--accent-color:hover {
  background: var(--cl-accent-300);
}
.top-section__button-version {
  color: var(--cl-main-200);
  padding-left: 0.25rem;
}
.middle-section {
  margin-top: 4rem;
}
.middle-section::before {
  content: "";
  display: block;
  width: 0.063rem;
  height: 5.25rem;
  background: var(--cl-neutral-400-trans-25);
  margin: auto;
}
.middle-section__number {
  font: var(--ty-button);
  display: grid;
  align-content: center;
  width: 3.5rem;
  aspect-ratio: 1;
  border-radius: 100%;
  border: solid thin var(--cl-neutral-400-trans-25);
  margin-inline: auto;
}
.middle-section__gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  padding-inline: 1.5rem;
  margin-block: 4rem 0;
}
@media (min-width: 48rem) {
  .middle-section__gallery {
    gap: 0.75rem;
  }
}
.middle-section__gallery-image {
  max-width: 9.438rem;
  border-radius: 0.5rem;
}
@media (min-width: 48rem) {
  .middle-section__gallery-image {
    max-width: 10.25rem;
  }
}
.middle-section__highlight {
  font: var(--ty-highlight);
  letter-spacing: var(--le-700);
  color: var(--cl-main-400);
  text-transform: uppercase;
  margin-block: 4rem 0;
}
.middle-section__title {
  font: var(--ty-heading-secondary);
  color: var(--cl-neutral-800);
  text-wrap: balance;
  margin: 1.5rem;
}
@media (min-width: 48rem) {
  .middle-section__title {
    --ty-heading-secondary: var(--fw-black) var(--fs-700)/var(--lh-300) var(--ff-main);
    margin-inline: 20%;
  }
}
.middle-section__copy {
  font: var(--ty-copy-primary);
  text-wrap: pretty;
  margin: 2rem 1.5rem 0;
}
@media (min-width: 48rem) {
  .middle-section__copy {
    margin-inline: 15%;
  }
}
.bottom-section {
  display: grid;
  align-content: center;
  grid-template-rows: auto 1.75rem 1.75rem auto auto 1fr;
  margin-block: 4rem 0;
}
.bottom-section::before {
  content: "";
  display: block;
  width: 0.063rem;
  height: 5.25rem;
  background: var(--cl-neutral-400-trans-25);
  margin: auto;
  grid-row: 1;
}
.bottom-section__number {
  font: var(--ty-button);
  display: grid;
  align-content: center;
  width: 3.5rem;
  aspect-ratio: 1;
  border-radius: 100%;
  border: solid thin var(--cl-neutral-400-trans-25);
  background: var(--cl-neutral-200);
  margin-inline: auto;
  grid-column: 1;
  grid-row: 2 / 4;
}
.bottom-section__title {
  font: var(--ty-heading-secondary);
  color: var(--cl-neutral-200);
  grid-column: 1;
  grid-row: 4 / 5;
  margin: 4rem 1.5rem 0;
}
@media (min-width: 48rem) {
  .bottom-section__title {
    --ty-heading-secondary: var(--fw-black) var(--fs-700)/var(--lh-300) var(--ff-main);
    margin-inline: 20%;
  }
}
.bottom-section__copy {
  font: var(--ty-copy-secondary);
  color: var(--cl-neutral-200);
  grid-column: 1;
  grid-row: 5 / 6;
  margin: 1.5rem 1.5rem 0;
}
@media (min-width: 48rem) {
  .bottom-section__copy {
    margin: 2rem 10% 0;
  }
}
.bottom-section__button {
  font: var(--ty-button);
  color: var(--cl-neutral-100);
  background: var(--cl-accent-400);
  width: fit-content;
  height: fit-content;
  margin: 2rem auto 0;
  padding: 1rem 2.5rem;
  border-radius: 1.813rem;
  text-decoration: none;
  border: 0;
  grid-column: 1;
  grid-row: 6 / 7;
  transition: background 0.3s;
}
.bottom-section__button:hover {
  background: var(--cl-accent-300);
}
@media (min-width: 48rem) {
  .bottom-section__button {
    margin-top: 2.5rem;
  }
}
.bottom-section__button-version {
  color: var(--cl-accent-200);
  padding-left: 0.25rem;
}
.bottom-section__image-wrapper {
  background: var(--cl-main-400);
  grid-column: 1;
  grid-row: 3 / 7;
  z-index: -1;
}
.bottom-section__image {
  opacity: 0.1045;
}
.signature {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
